
      .login-form {
        max-width: 300px;
      }

      .login-form-forgot {
        float: right;
      }

      .login-form-button {
        width: 100%;
      }

      .div01
      {
          width: 400px;
          height: 180px;
          position:absolute;
          border-width:1.5px;
          border-color:thistle;
          left:0;
          top: 0;
          bottom: 0;
          right: 0;
          margin: auto;
      }
    